* {
padding: 5px;
margin: 0;
}

header h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 140px;
  margin-left: 100px;
}
header p {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
form {
margin-left: 100px;
font-family: 'Fjalla One', sans-serif;
}
select {
  margin-left: 100px;
  font-family: 'Fjalla One', sans-serif;
}
.button {
  margin-left: 100px;
  font-family: 'Fjalla One', sans-serif;
}
.author {
margin-left: 100px;
color: red;
}
